// Sidebar name
h1.redditname {
    font-size: 0px;
}

h1.redditname:after {
    font-family: helvetica;
    font-weight: normal;
    font-size: 24px;
    content: "tøp tickets";
}

// Hide link part of form
form#newlink {
  ul.tabmenu {
    display: none;
  }

  div.formtabs-content {
    #link-desc, #text-desc, #url-field {
      display: none !important;
    }

    #text-field {
      display: block !important;
    }
  }
}

// Show text link not submit link
.res.listing-page .side .submit.submit-text, .listing-page .side .submit.submit-text, .side .submit.submit-text {
  position: absolute;
  top: 175px;
  right: 0px; 
}

.comments-page .side .linkinfo, .res.comments-page .side .linkinfo {
  top: 375px;
}

.sidebox.submit.submit-link {
  display: none;
}

// Hide downvote
.arrow.down {
  display: none;
}