@import 'colors';

/********************************* HEADER **************************/

// Set header height for image
.submit-page #header-bottom-left, #header-bottom-left {
    position: relative;
    top: 0px;
    left: 0px;
    height: 240px;
    background-color: #101D23;

    // Position the tabs over the header image
    .tabmenu {
        display: block;
        position: absolute;
        left: 7px;
        bottom: 0px;
    }
}

// Make the header link to the sub
#header .hover.pagename.redditname {
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    font-size: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: -16px;

    a {
        background-image: url(%%headerimg%%), -webkit-linear-gradient(top, #0c191b, #13242b);
        background-repeat: no-repeat;
        background-position: center 0;
        font-size: 0px;
        display: block;
        width: 100%;
        height: 100%;
        background-size: auto 100%;
        margin: 0px;
        border-top: 3px solid #F04937;
        
        &:before {
            content: '';
        }
    }
}

// Hide the snoo
#header-img, #header-img.default-header {
    display: none;
}

// Hide the naut header
body:before {
    display: none;
}

// Push body below header
body>.content, .submit-page .content {
    margin-top: 275px;
}

// Make stuff in the RES bar readable
#sr-header-area .dropdown.srdrop .selected, #sr-header-area .separator, #sr-header-area .sr-bar a, #sr-more-link {
    color: black;
}
#sr-header-area:hover .sr-bar a, #sr-header-area:hover #sr-more-link, #sr-header-area:hover .seperator, #sr-header-area:hover .dropdown.srdrop .selected {
    color: black;
}

#RESShortcutsAdd, #RESShortcutsLeft, #RESShortcutsRight, #RESShortcutsSort, #RESShortcutsTrash, .res #RESShortcutsEditContainer {
    color: black !important;
}

// Change username color
#header-bottom-right .user a, {
    color: black;
}

// Fix beta icon
#header-bottom-right #userbarToggle + * {
    margin-top: 3px;
    margin-left: 5px !important;
}

// Change userbar karma color
#header-bottom-right .user .userkarma, #header-bottom-right .user .userkarma a {
    color: $orange;
}

/********************************* SIDEBAR **************************/

// Change words to "local dreamers"
    div.titlebox span.word { display: none; }
    div.titlebox span.number:after { content: " local dreamers";
}

// Hide approved submitter text
form.toggle.leavecontributor-button {
    display: none;
}

// Sidebar name
h1.redditname {
    font-size: 0px;
}

h1.redditname:after {
    font-family: helvetica;
    font-weight: normal;
    font-size: 24px;
    content: "twenty | øne | piløts";
}

// Sidebar image
a[href="/r/twentyonepilots?subredditlogo"]:after {
    content: url(%%subreddit-logo%%);
}

// Remove sidebar linkback
.side:after {
    display: none;
}

// Fix search, linkinfo, and submit boxes
#search {
    top: 275px;
    right: 16px;
}

.res.listing-page .side, .listing-page .side, .side {
    margin-top: 375px;

    .submit.submit-link {
        position: absolute;
        top: 175px;
        right: 0px;
    }
}

.res.comments-page .side, .comments-page .side {
    margin-top: 497px;

    .linkinfo {
        position: absolute;
        top: 325px;
    }

    .submit.submit-link {
        position: absolute;
        top: 300px;
        right: 0px;
    }
}

/********************************* SUBMISSION PAGE **************************/

#reddit-field {
    display: none;
}

.submit_text.roundfield {
    max-height: 370px;
    margin-bottom: 0px;
}

.submit_text h1 {
    display: none;
}

.submit_text h2 {
    font-weight: bold;
}

/********************************* MISC **************************/

.link .score.likes {
    color: $orange;
}

.link .score.dislikes {
    color: black;
}