/********************************* LINK FLAIR **************************/

/* Link flair styles */
.linkflairlabel {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: white;
}

.linkflairlabel[title='Discussion'] {
    background-color: #70C3D9;
    border-color: #70C3D9;
}

.linkflairlabel[title='News'] {
    background-color: #F04937;
    border-color: #F04937;
}

.linkflairlabel[title='Music'] {
    background-color: #FFCF5D;
    border-color: #FFCF5D;
}

.linkflairlabel[title='Question'] {
    background-color: #5A70CA;
    border-color: #5A70CA;
}

.linkflairlabel[title='Creation'] {
    background-color: #2EBF5A;
    border-color: #2EBF5A;
}

.linkflairlabel[title='Video'] {
    background-color: #7D26CD;
    border-color: #7D26CD;
}

/********************************* USER FLAIR **************************/

/* User flair styles */
.flairselector .customizer {
    display: none;
}

.flair {
    border: none !important;
    padding: 0;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    content: none;
    overflow: hidden;
    text-indent: 50px;
    vertical-align: text-bottom;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;

    &.flair-cover-21p {
        background-image: url(%%cover-21p%%);
        background-size: 30px 30px;
    }

    &.flair-cover-blurryface {
        background-image: url(%%cover-blurryface%%);
        background-size: 30px 30px;
    }

    &.flair-cover-rab {
        background-image: url(%%cover-rab%%);
        background-size: 30px 30px;
    }

    &.flair-cover-vessel {
        background-image: url(%%cover-vessel%%);
        background-size: 30px 30px;
    }

    &.flair-grandpa-dun {
        width: 22px;
        background-image: url(%%grandpa-dun%%);
        background-size: 22px 30px;
    }

    &.flair-grandpa-joseph {
        width: 26px;
        background-image: url(%%grandpa-joseph%%);
        background-size: 26px 30px;
    }

    &.flair-josh {
        width: 29px;
        background-image: url(%%josh%%);
        background-size: 29px 30px;
    }

    &.flair-josh-face {
        width: 27px;
        background-image: url(%%josh-face%%);
        background-size: 27px 30px;
    }

    &.flair-josh-side {
        width: 24px;
        background-image: url(%%josh-side%%);
        background-size: 24px 30px;
    }

    &.flair-keytar {
        width: 48px;
        background-image: url(%%keytar%%);
        background-size: 48px 30px;
    }

    &.flair-logo-new {
        width: 32px;
        background-image: url(%%logo-new%%);
        background-size: 32px 30px;
    }

    &.flair-logo-old {
        background-image: url(%%logo-old%%);
        background-size: 30px 30px;
    }

    &.flair-skeleton-clique {
        background-image: url(%%skeleton-clique%%);
        background-size: 30px 30px;
    }

    &.flair-tyler {
        width: 25px;
        background-image: url(%%tyler%%);
        background-size: 25px 30px;
    }

    &.flair-tyler-cheesy {
        width: 18px;
        background-image: url(%%tyler-cheesy%%);
        background-size: 18px 30px;
    }

    &.flair-tyler-fat {
        width: 24px;
        background-image: url(%%tyler-fat%%);
        background-size: 24px 30px;
    }

    &.flair-tyler-smile {
        background-image: url(%%tyler-smile%%);
        background-size: 30px 30px;
    }

    &.flair-ukelele {
        width: 53px;
        background-image: url(%%ukelele%%);
        background-size: 53px 30px;
    }

    &.flair-band-account {
        width: 62px;
        background-image: url(%%tyler-and-josh%%);
        background-size: 62px 30px;
    }
}

/* Band account */
a.id-t2_n1sw2 {
    background-color: #F04937;
    color: #fff !important;
    padding: 3px;
    border-radius: 3px;
    font-weight: bold;

    &:after {
        content: " - Band Account";
    }
}

/* Verified reviewer */
a.id-t2_8br3x {
    background-color: #551A8B;
    color: #fff !important;
    padding: 1px;
    border-radius: 3px;
    font-weight: bold;

    &:after {
        content: " - Verified Reviewer";
    }
}