/********************************* LINK FLAIR **************************/

/* Link flair styles */
.linkflairlabel {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: white;
}

.linkflair-flair-discussion .linkflairlabel, .flairsample-left .linkflair-flair-discussion .linkflairlabel, .linkflair-flair-discussion.linkflairlabel {
    background-color: #70C3D9;
    border-color: #70C3D9;
}

.linkflair-flair-news .linkflairlabel, .flairsample-left .linkflair-flair-news .linkflairlabel, .linkflair-flair-news.linkflairlabel {
    background-color: #F04937;
    border-color: #F04937;
}

.linkflair-flair-music .linkflairlabel, .flairsample-left .linkflair-flair-music .linkflairlabel, .linkflair-flair-music.linkflairlabel {
    background-color: #FFCF5D;
    border-color: #FFCF5D;
}

.linkflair-flair-question .linkflairlabel, .flairsample-left .linkflair-flair-question .linkflairlabel, .linkflair-flair-question.linkflairlabel {
    background-color: #5A70CA;
    border-color: #5A70CA;
}

.linkflair-flair-creation .linkflairlabel, .flairsample-left .linkflair-flair-creation .linkflairlabel, .linkflair-flair-creation.linkflairlabel {
    background-color: #2EBF5A;
    border-color: #2EBF5A;
}

.linkflair-flair-video .linkflairlabel, .flairsample-left .linkflair-flair-video .linkflairlabel, .linkflair-flair-video.linkflairlabel {
    background-color: #7D26CD;
    border-color: #7D26CD;
}

/********************************* USER FLAIR **************************/

/* User flair styles */
.flairselector .customizer {
    display: none;
}

.flair {
    border: none !important;
    padding: 0;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    content: none;
    overflow: hidden;
    text-indent: 50px;
    vertical-align: text-bottom;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;

    &.flair-cover-rab {
        background-image: url(%%cover-rab%%);
        background-size: 30px 30px;
    }
}