/************************** TICKETS LINK FLAIR ***********************/

.linkflairlabel[title='Buying'] {
    background-color: #5A70CA;
    border-color: #5A70CA;
}

.linkflairlabel[title='Selling'] {
    background-color: #2EBF5A;
    border-color: #2EBF5A;
}

.linkflairlabel[title='Trading'] {
    background-color: #FFCF5D;
    border-color: #FFCF5D;
}

.linkflairlabel[title='Meta'] {
    background-color: #7D26CD;
    border-color: #7D26CD;
}